API DESIGN.txt
BUSINESS CONTINUITY PLAN.txt
BUSINESS PROCESS DOCUMENT.txt
CYBER SECURITY ARCHITECTURE.txt
DATABASE DESIGN DOCUMENT.txt
DEVOPS.txt
ENTERPRISE GOVERNANCE.txt
ENTERPRISE PROGRAM MANAGEMENT OFFICE.txt
FINANCIAL MANAGEMENT.txt
INFORMATION ARCHITECTURE.txt
OPERATIONS.txt
PRODUCT BACKLOG.txt
PRODUCT REQUIREMENTS DOCUMENT.txt
PRODUCT ROADMAP.txt
QUALITY ASSURANCE.txt
SOFTWARE ARCHITECTURE DOCUMENT.txt
SOFTWARE REQUIREMENTS SPECIFICATION.txt
TECHNICAL DESIGN DOCUMENT.txt
UI-UX.txt
UI.txt
extract_docx.py
.venv/
